.post {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 16px -8px rgba(0,0,0,0.68);
    box-shadow: 0 0 16px -8px rgba(0,0,0,0.68);
    margin: 30px 0;
}

.post-wrapper {
    padding: 10px;
}

.post-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-top-left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post-top-left-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.post-profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.post-user-name {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.post-user-date {
    font-size: 12px;
    color: gray;
}

.post-date {
    font-size: 12px;
}

.post-center {
    margin: 20px 0;
}

.post-image {
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.post-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-bottom-left {
    display: flex;
    align-items: center;
}

.like-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.post-counter {
    font-size: 15px;
}

.post-comment-text {
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}

.stub {
    border: 1px solid #d3d3d3;
}

.some-styles {
    display: flex;
}

