.top-bar-container {
    height: 50px;
    width: 100%;
    background-color: #2fc1ff;
    display: flex;
    align-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    align-self: center;
}

.top-bar-left {
    display: flex;
    flex: 3;
}

.top-bar-center {
    display: flex;
    flex: 5;
}

.search-bar {
    width: 100%;
    height: 30px;
    display: flex;
    align-self: center;
    background-color: #fff;
    border-radius: 30px;
}

.search-icon  {
    display: flex;
    align-self: center;
    margin-left: 10px;
    width: 20px !important;
}

.search-input {
    border: none;
    width: 70%;
    padding-left: 10px;
}

.search-input:focus {
    outline: none;
}

.top-bar-right {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.top-bar-link {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.top-bar-icons {
    display: flex;
    align-items: center;
}

.top-bar-item {
    display: inline-flex;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}

.top-bar-item svg {
    fill: white;
}

.top-bar-badge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    display: flex;
    position: absolute;
    top: -5px;
    right: -6px;
    justify-content: center;
    font-size: 12px;
}

.top-bar-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    align-self: center;
    margin-right: 10px;
}

.link {
    display: flex;
    align-items: center;
}
